{{ define "live" }}
{{ template "prebody" . }}
<p>
    If you want your stream to appear here, select "advertise" when choosing the settings.
</p>
{{ if .Items}}
<h2>Live broadcasts:</h2>
{{range .Items}}<a href="/{{ call $.StripMP3 . }}">{{ call $.StripMP3 . }}</a><br> <audio controls preload="none">
    <source src="/{{ . }}?r={{$.Rand}}" type="audio/mpeg">
    Your browser does not support the audio element.
</audio><br><br>
{{end}}
{{else}}
<h2>No live broadcasts.</h2>
{{end}}{{ template "postbody" . }}
{{end}}