{{ define "sma" }}
{{ template "prebody" . }}
<p>
    <strong>What <em>is</em> this?</strong> sma makes it easy to livestream your audio from any computer using a simple programs you just double click. That's it. Make a live podcast, stream your piano practice, whatever you'd like.
</p>
<p>
    <strong>What <em>isn't</em> this?</strong> It's not twitch, it's not YouTube. There is no login, no usernames, no passwords, no costs. There is no branding, no engagement.
</p>
<p>
    <strong>No logins?</strong> No logins. Your steam is given a name which you can share with others to access it. You can also"advertise" you're steam so it will be featured on the "live" page.
</p>
<p>
    <strong>It's free?</strong> It is free. This is a simple website that costs me very little too run. Is yours like to donate to this site here's my Bitcoin address
</p>
{{ template "postbody" . }}
{{end}}