{{ define "sya" }}
{{ template "prebody" . }}
<p>
    <strong>What <em>is</em> this?</strong> sya lets you livestream audio from your computer to this website. The software is simple as double-clicking. That's it. Use it to play demos for people you know, or make a live podcast, or stream your piano practice, or whatever you'd like.
</p>
<p>
    <strong>What <em>isn't</em> this?</strong> It's not social media. Not Twitch, not YouTube, not "Meta". There is no login, no usernames, no passwords, no authentication, no costs, no branding.
</p>
<p>
    <strong>No logins?</strong> No logins. You give your stream a name which serves as the link for others to listen. By default the stream names are not shared, but you there is an option to "advertise" the so it will be featured on the <a href="/live"><em>live</em></a> page.
</p>
<p>
    <strong>It's free?</strong> It is free. This is a simple website that costs me very little too run. Is yours like to donate to this site here's my Bitcoin address
</p>
{{ template "postbody" . }}
{{end}}